<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      SmartCafe - Meni
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="deleteCurrentOrder()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
      <ion-button (click)="showCurrentOrder()">
        <ion-badge color="danger">{{ currentSubOrder_itemsCount }}</ion-badge>
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-card
      *ngFor="let item of productList; let i = index;"
    >
      <ion-item (click)="openCategory(i)">
        <ion-img src="assets/{{ item.category | lowercase }}.svg" style="width: 24px; height: 24px;" slot="start"></ion-img>
        <ion-label><h2>{{item.category}}</h2></ion-label>
      </ion-item>

      <div *ngIf="isCategoryOpen(i)">
        <ion-item *ngFor="let product of item.products">
          <ion-label text-wrap>
            <ion-text color="primary">
                <ion-badge color="danger" *ngIf="product.isPromo">AKCIJA</ion-badge>
              <h3>{{ product.name }}</h3>
            </ion-text>
            <p>{{ product.subCategoryId[0].name }}</p>
            <ion-text>
              <p>{{ product.priceWithVAT }} din</p>
            </ion-text>
          </ion-label>
          <ion-icon name="cart" slot="end" (click)="orderProduct(product)"></ion-icon>
        </ion-item>
      </div>
    </ion-card>
  </ion-list>
</ion-content>
