<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">ODUSTANI</ion-button>
    </ion-buttons>

    <ion-title>Naručivanje</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="applyOrder()" strong>OK</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form>
    <ion-item-divider color="light">
      <ion-label>Količina</ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-input type="number" clearInput [(ngModel)]="modalData.qty" name="quantity" min="1"></ion-input>
    </ion-item>

    <ion-item-divider color="light">
      <ion-label>Napomena</ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-input type="text" clearInput [(ngModel)]="modalData.note" name="note"></ion-input>
    </ion-item>
  </form>
</ion-content>
