<ion-header>
  <ion-toolbar>
    <ion-title>SmartCafe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-card
      *ngFor="let item of productList"
    >
      <ion-item>
        <ion-img src="assets/{{ item.category | lowercase }}.svg" style="width: 24px; height: 24px;" slot="start"></ion-img>
        <ion-label><h2>{{item.category}}</h2></ion-label>
      </ion-item>

      <ion-item *ngFor="let product of item.products" ngIf="darco">
        <ion-label text-wrap>
          <ion-text color="primary">
            <h3>{{ product.name }}</h3>
          </ion-text>
          <p>{{ product.subCategoryId[0].name }}</p>
          <ion-text>
            <p>{{ product.priceWithVAT }} din</p>
          </ion-text>
        </ion-label>
        <ion-icon name="cart" slot="end"></ion-icon>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
